* {
    padding:0;
    margin:0;
}
body {
    background:#f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin: 0;
}
.container {
    margin: auto;
    overflow: hidden;
}
header {
    background: maroon;
    color: white;
    padding:5px 0;
    position:sticky;
    top:0;
    z-index: 2;
}
#logo1 {
    vertical-align:middle;
    width:70px;
    padding-left:10px;
    cursor: pointer;
    transition: 0.3s;
}
#logo1:hover{
    width: 75px;
}
#logo2 {
    vertical-align:middle;
    width:280px;
    padding-left:10px;
}
.iaf-logos {
    box-sizing: border-box;
    margin-right: 30px;
    vertical-align:middle;
    height: 80px;
    border-radius: 50%;
}
.iaf-logos:hover {
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    border-radius: 50%;
}
.right{
    display: inline;
    float:right;
    margin-right: 10px;
}
header a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}
header a:hover {
    text-shadow: 0.5px 0.5px #f4f4f4;
}
nav {
    width:100%;
    background: #333;
    padding:15px 0;
    position:sticky;
    top:95px;
    z-index:1;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline;
    color:white;
}
nav a {
    box-sizing: border-box;
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size:18px;
    padding:2px 5px;
}
nav a:hover {
    color: white;
    text-shadow: 0.5px 0.5px #f4f4f4;
}
nav li:nth-child(1){
    padding-left:20px;
}
.small-space{
    margin-top:10px;
}
.medium-space{
    margin-top:50px;
}
.large-space {
    margin-top: 100px;
}
.last-space {
    margin-top:2000px;
}
footer {
    width:100%;
    background: #333;
    padding:15px 0;
    text-align: center;
    bottom: 0;
}
footer ul{
    list-style: none;
}
footer li {
    display: inline;
    padding-right: 10px;
}
footer a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}
footer a:hover {
    color: white;
    text-shadow: 0.5px 0.5px #f4f4f4;
}
/*ADDED 25-06-2021*/
/* Commented by Sakshi Ozarde on 26-06-2021*/
/*#main_container{
    position: absolute;
    top: 180px;
    width: 100%;
}*/
/*Commented by Sakshi Ozarde on 26-06-2021*/
.dropdown {
    position: relative;
    display: inline-block;
}
.modal{
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 45px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 40%;  
}
/* Animation*/
.modal-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/* close button*/
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*ADDED 26-06-2021*/
.sub-menu-bell{
    display: none;
}
.bell:hover .sub-menu-bell{
    display: block;
    position: absolute;
    background: #333;
    box-sizing: border-box;
    margin-left: -150px;
}
.bell:hover .sub-menu-bell ul{
    display: block;
    margin: 10px;
}
.bell:hover .sub-menu-bell ul li{
    width:200px;
    display: block;
    padding: 5px;
    border-bottom: 1px solid white;
}
.sub-menu-user{
    display: none;
}
.sub-menu-user ul{
    text-align: left;
}
.user:hover .sub-menu-user{
    display: block;
    position: absolute;
    background: #333;
    box-sizing: border-box;
    margin-left: -70px;
}
.user:hover .sub-menu-user ul{
    display: block;
    margin: 10px;
}
.user:hover .sub-menu-user ul li{
    width:120px;
    display: block;
    padding: 5px;
}
.sub-menu-hof{
    display: none;
}
i{
    margin-right: 5px;
}
.hof:hover .sub-menu-hof{
    position: absolute;
    display: block;
    background: #333;
    box-sizing: border-box;
    margin-left: 300px;
}
.hof:hover .sub-menu-hof ul{
    display: block;
}
.hof:hover .sub-menu-hof ul li{
    display: block;
    width: fit-content;
    padding: 5px;
}
.sub-menu-hof ul{
    text-align: center;
}
.sub-menu-hof ul li:hover{
    text-shadow: 0.5px 0.5px #f4f4f4; 
}
/*Edited by sakshi ozarde on 26-06-2021*/
/*Start*/

.container_main{
    align-items: center;
    justify-content: center;
}
.defence_info_container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    padding: 10px;
}
.defence_info_container h1{
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.exam_container{
    align-items: center;
    justify-content: center;
}
/*Indian Army Officers*/
.officers_exam{
    display: grid;
}
.officers_exam h1{
    text-align: center;
    justify-content: center;
}
.exam_info{
    display: grid;
}
#exam1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#exam2{
    grid-column: 1/2;
    grid-row: 2/3;
}
#exam3{
    grid-column: 1/2;
    grid-row: 3/4;
}
#exam4{
    grid-column: 1/2;
    grid-row: 4/5;
}
#exam5{
    grid-column: 1/2;
    grid-row: 5/6;
}
#exam6{
    grid-column: 1/2;
    grid-row: 6/7;
}
#exam7{
    grid-column: 1/2;
    grid-row: 6/7;
}
#exam8{
    grid-column: 1/2;
    grid-row: 6/7;
}
#exam9{
    grid-column: 1/2;
    grid-row: 6/7;
}
#exam10{
    grid-column: 1/2;
    grid-row: 6/7;
}
.nesting1{
    display: grid;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2%;
}
#lhs{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    border-radius: 20px;
    background-color: #2b1c1c;
}
#lhs1{
    padding: 10px;
    align-items: center;
    border-bottom: black;
    grid-column: 1/2;
    grid-row: 1/2;
}
#lhs1 img{
    border-radius: 10px;
    border: black solid 2px;
    display: block;
    margin: auto;
}
#lhs2{
    color: blanchedalmond;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
#lhs2 p{
    padding:10px;
}
#lhs2 p,#rhs2 p{
    font-size: 20px;
}
.button{
    background: rgb(77, 172, 77);
    color: black;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid white;
    margin-top: 40px ;
    display: block;
    width: fit-content; 
    margin: 20px auto 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}
.button:hover{
    background-color: rgb(28, 102, 28);
    color: white;
    
}
.button:active{
    background-color: rgb(6, 39, 11);
}
#rhs{
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    background-color: #2b1c1c;
    border-radius: 20px;
}
#rhs1{
    background-color: #2b1c1c;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
}
#rhs1 img{
    border-radius: 10px;
    border: black solid 2px;
}
#rhs2{
    grid-column: 2/3;
    grid-row: 1/2;
}
#rhs2 p{
    text-align: center;
    color: blanchedalmond;
    margin: 10px;
    padding: 10px;
}

/*Indian army soldiers*/
.soldiers_exam{
    text-align: center;

}
.box_container h1{
    text-align: center;
    padding: 10px;
}
.box_container{
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 30px;
}
.box{
    position: relative;
    background-color: #2b1c1c;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    border-color:rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
/* #box1{
    grid-column: 1,2;
    grid-row: 1,2;    
}
#box2{
    grid-column: 2,3;
    grid-row: 1,2;
}
#box3{
    grid-column: 3,4;
    grid-row: 1,2;
}
#box4{
    grid-column: 1,2;
    grid-row: 2,3;
}
#box5{
    grid-column: 2,3;
    grid-row: 2,3;
}
#box6{
    grid-column: 3,4;
    grid-row: 2,3;
} */
.nesting{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4px;
}
.image_container{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.image_box{
    display: block;
    width: 100%;
    height: 100%;
    border: rgb(78, 13, 5);
    border-style: double;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: auto;
}
#box5 .image_box{
    background-color: white;
}
.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(2, 2, 2);
    color: mintcream;
    font-family:  monospace;
    font-size: x-large;
    border-radius: 10px;
    border-style: solid;
    border-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;

}
.image_overlay--blur{
    backdrop-filter: blur(50px);
}
.image_overlay>*{
    transform: translateY(20px);
    transition: transform 0.25;

}
.image_overlay:hover{
    opacity: 1;
}
.image_overlay:hover>*{
    transform: translateY(0);
}
.image_description{
    font-size: x-large;
    color: mintcream;
    font-family: monospace;
}
.text_container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    color: mistyrose;
    padding: 5px;
    height: 80px;
}

/*End*/


/*Edited by sakshi ozarde on 26-06-2021*/