{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_exam_main_page.css' %}">{%endblock css%}
{% block title %}Exams{% endblock title %}
{% block body %}
<div class="defence_info_container">
    <h1>EXAMS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eveniet rem totam officia non tempore similique? Laborum pariatur minima, eos corporis numquam ab non deleniti fugit tenetur dicta, consectetur sunt similique nihil molestias. Natus, quae incidunt. Quibusdam ea vero blanditiis facilis error voluptatibus corrupti? Earum ipsum pariatur doloremque praesentium, facere fugit eveniet possimus quasi quod nemo eos tempore, dolor quisquam rerum expedita, eaque culpa unde ratione porro assumenda vel accusantium numquam. Minus, neque ea deleniti doloremque, non sunt necessitatibus possimus sapiente illum, aut perspiciatis ratione officia aspernatur? Cumque perferendis harum illo veritatis quaerat, voluptate voluptas facilis, rem temporibus animi dolores.</p> 
</div><br><br>
<div class="exam_container">
    <div class="officers_exam">
        <h1>Officers Exams</h1><br>
        <div class="exams_info">
            <div class="exam" id="exam1">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_cds_new.png' %}"></div> <!--cds-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="{% url 'exam_subpage' %}">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>     
            </div>
            <div class="exam" id="exam2">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_nda_new.png' %}"></div> <!--nda-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam3">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_inet_new.png' %}"></div><!--inet-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam4">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_afcat_new.png' %}"></div><!--afcat-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam5">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_ssb_new.png' %}"></div><!--ssb-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam6">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_upsc_new.png' %}"></div><!--upsc-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam7">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_tes_new.png' %}"></div><!--technical entry scheme-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam8">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_ima_new.png' %}"></div><!--ima-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam9">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_tgc_new.png' %}"></div><!--technical graduate course-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
            <div class="exam" id="exam10">
                <div class="nesting1">
                    <div id="lhs">
                        <div id="lhs1"><img src="{% static 'images/exam_main_page/canva_ncc_new.png' %}"></div><!--ncc-->
                        <div id="lhs2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe dolorum, unde maiores vero quas?</p>
                            <div>
                                <a class="button" href="#">Know More</a><br>
                            </div>
                        </div>
                    </div>
                    <div id="rhs">
                        <div id="rhs1"><img src="{% static 'images/exam_main_page/mmn_canva.png' %}"></div>
                        <div id="rhs2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ut! Esse inventore sunt, optio repellat provident deleniti doloremque cum! Quam ab, minus tempore veniam corporis recusandae aspernatur praesentium debitis, sunt officiis doloribus hic, molestiae dolorum assumenda. Omnis ratione pariatur odio fugit consectetur, perspiciatis necessitatibus quam, facere qui, et sequi eum.</p></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <div class="soldiers_exam">
        <h1>Indian Army Soldiers Exams</h1><br>
        <div class="box_container">
            <div class="box" id="box1">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">OTA SSC</div>
                            <p class="image_description">
                                Dream big!!
                            </p>
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>OTA SSC</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="box" id="box2">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">SSC (JAG)</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>SSC (JAG)</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.   </p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="box" id="box3">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">UES</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>UES</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.  </p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="box" id="box4">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">AEC (Men)</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>AEC (Men)</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.   </p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box5">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">ACC</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>ACC</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box6">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">PC (SL)</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>PC (SL)</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box7">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">SCO</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>SCO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box8">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">Territorial Army</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>Territorial Army</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box9">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">RVC</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>RVC</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box10">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">AMC</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>AMC</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box11">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">APS</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>APS</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box12">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">SSCW (NON-TECH)</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>SSCW (NON-TECH)</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box13">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">SSCW (NCC)</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>SSCW (NCC)</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box14">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">SSCW (JAG)</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>SSCW (JAG)</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box15">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">SSCW (Technical)</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>SSCW (Technical)</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="box16">
                <div class="nesting">
                    <div class="image_container">
                        <img class="image_box" src="{% static 'images/exam_main_page/canva_others.png' %}">
                        <div class="image_overlay" class="image_overlay--blur">
                            <div class="image_title">Medical Exams</div>
                            <p class="image_description">
                                Dream big!!
                            </p>    
                        </div>   
                    </div>
                    <div class="text_container">
                        <h3>Medical Exams</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div>
                            <a class="button" href="#">Know More</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}