<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ADDED BY ADITYA 26-06-2021-->
    <link rel="stylesheet" type="text/css" href="../css/he.css">
    <!--ADDED BY ADITYA 26-06-2021-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Historical Events</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="dropdown">
                <img id="logo1" src="../images/website logos/logo1.jpeg" alt="logo">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                </div>
            </div>
            <a href="main_page.html">
                <img id="logo2" src="../images/website logos/logo2.png" alt="nameplate">
            </a>
            <div class="right">
                <a href="https://www.indianarmy.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Army page" src="../images/logos/army.png" alt="Army logo">
                </a>
                <a href="http://www.indiannavy.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Navy page" src="../images/logos/navy.png" alt="Navy logo">
                </a>
                <a href="http://indianairforce.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Airforce force page" src="../images/logos/airforce.png" alt="Airforce logo">
                </a>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="main_page.html">HOME</a></li>
                <li><a href="newsfeed.html">NEWS FEED</a></li>
                <li><a href="exam_main_page.html">EXAMS</a></li>
                <li class="hof"><a href="">HALL OF FAME</a>
                    <div class="sub-menu-hof">
                        <ul>
                            <li><a href="hof_army.html">ARMY</a></li>
                            <li><a href="hof_navy.html">NAVY</a></li>
                            <li><a href="hof_airforce.html">AIRFORCE</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="he.html">HISTORICAL EVENTS</a></li>
                <li><a href="donation_page.html">DONATIONS</a></li>
                <div class="right">
                    <li class="bell"><a href="#">
                        <img src="../Images/bell.svg" style="vertical-align: middle;" alt="bell" width="20px"></a> 
                        <div class="sub-menu-bell">
                            <ul>
                                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a></li>
                            </ul>
                        </div>   
                    </li>
                    <li class="user"><a href="#">
                        <img src="../Images/user.svg" style="vertical-align: middle;" alt="user" width="20px"></a>
                        <div class="sub-menu-user">
                            <ul>
                                <li><a href="settings.html"><i class="far fa-user-circle"></i>Profile</a></li>
                                <li><a href="settings.html"><i class="fas fa-bookmark"></i>Bookmarks</a></li>
                                <li><a href="settings.html"><i class="fas fa-cog"></i>Settings</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <main>
        <div id="main_container">
            <!-- Edited By Aditya Pachore on 26-06-2021 -->
            <section>
                <div class="container-class">
                    <h1 class="heading">Historical Events</h1>
                    <div class="card-wrapper">
                        <div class="card">
                            <img src="../images/historical_events/sino-indian.jpg" alt="cardbg" class="cardimg">
                            <h1>Sino-Indian War</h1>
                            <p class="title">October-November 1962</p>
                            <p class="about">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel itaque ab tempora unde ipsum fugiat, fuga, quam deleniti quas numquam sit maiores, nulla qui exercitationem doloremque est dignissimos esse voluptatum quo eveniet error laudantium architecto consequatur delectus. Dolorem placeat eaque non inventore, odit in omnis vitae iste animi itaque reprehenderit?
                                <a href="#" class="btn">Continue Reading</a>
                            </p>
                        </div>
                        <div class="card">
                            <img src="../images/historical_events/flag.jpg"alt="cardbg" class="cardimg">
                            <h1>Kargil-War</h1>
                            <p class="title">May-July 1999</p>
                            <p class="about">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, numquam voluptatum ullam et velit, quisquam quasi, necessitatibus porro id excepturi nisi laborum! Quaerat perferendis ex sapiente praesentium nostrum consequuntur perspiciatis, accusantium ea explicabo, debitis, laborum nesciunt. Quos soluta id optio.
                                <a href="#" class="btn">Continue Reading</a>
                            </p>
                        </div>
        
                        <div class="card">
                            <img src="../images/historical_events/parakram.jpg" alt="cardbg" class="cardimg">
                            <h1>Operation Parakaram</h1>
                            <p class="title">December, 2001</p>
                            <p class="about">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel itaque ab tempora unde ipsum fugiat, fuga, quam deleniti quas numquam sit maiores, nulla qui exercitationem doloremque est dignissimos esse voluptatum quo eveniet error laudantium architecto consequatur delectus. Dolorem placeat eaque non inventore, odit in omnis vitae iste animi itaque reprehenderit?
                                <a href="#" class="btn">Continue Reading</a>
                            </p>
                        </div>
        
                        <div class="card">
                            <img src="../images/historical_events/blue star.jpg" alt="cardbg" class="cardimg">
                            <h1>Operation Blue Star</h1>
                            <p class="title">June 7, 1984 </p>
                            <p class="about">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel itaque ab tempora unde ipsum fugiat, fuga, quam deleniti quas numquam sit maiores, nulla qui exercitationem doloremque est dignissimos esse voluptatum quo eveniet error laudantium architecto consequatur delectus. Dolorem placeat eaque non inventore, odit in omnis vitae iste animi itaque reprehenderit?
                                <a href="#" class="btn">Continue Reading</a>
                            </p>
                        </div>
        
                        <div class="card">
                            <img src="../images/historical_events/surgical.jpg" alt="cardbg" class="cardimg">
                            <h1>Surgical Strike</h1>
                            <p class="title">September 29, 2016</p>
                            <p class="about">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel itaque ab tempora unde ipsum fugiat, fuga, quam deleniti quas numquam sit maiores, nulla qui exercitationem doloremque est dignissimos esse voluptatum quo eveniet error laudantium architecto consequatur delectus. Dolorem placeat eaque non inventore, odit in omnis vitae iste animi itaque reprehenderit?
                                <a href="#" class="btn">Continue Reading</a>
                            </p>
                        </div>
        
                        <div class="card">
                            <img src="../images/historical_events/Balakot.jpg" alt="cardbg" class="cardimg">
                            <h1>Balakot Airstrike</h1>
                            <p class="title">February 26,2019</p>
                            <p class="about">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel itaque ab tempora unde ipsum fugiat, fuga, quam deleniti quas numquam sit maiores, nulla qui exercitationem doloremque est dignissimos esse voluptatum quo eveniet error laudantium architecto consequatur delectus. Dolorem placeat eaque non inventore, odit in omnis vitae iste animi itaque reprehenderit?
                                <a href="#" class="btn">Continue Reading</a>
                            </p>
                    </div>
                    <div class="card">
                        <img src="../images/historical_events/sino-indian.jpg" alt="cardbg" class="cardimg">
                        <h1>Sino-Indian War</h1>
                        <p class="title">October-November 1962</p>
                        <p class="about">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel itaque ab tempora unde ipsum fugiat, fuga, quam deleniti quas numquam sit maiores, nulla qui exercitationem doloremque est dignissimos esse voluptatum quo eveniet error laudantium architecto consequatur delectus. Dolorem placeat eaque non inventore, odit in omnis vitae iste animi itaque reprehenderit?
                            <a href="#" class="btn">Continue Reading</a>
                        </p>
                    </div>
                    <div class="card">
                        <img src="../images/historical_events/flag.jpg" alt="cardbg" class="cardimg">
                        <h1>Kargil-War</h1>
                        <p class="title">May-July 1999</p>
                        <p class="about">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem officiis explicabo quidem. Blanditiis distinctio dolorum doloribus dolorem omnis quia perspiciatis harum necessitatibus? Voluptatem quo culpa inventore. Voluptatibus, optio quo quis modi commodi ipsam animi. Optio earum quis nostrum nemo corrupti.
                            <a href="#" class="btn">Continue Reading</a>
                        </p>
                    </div>
    
                    <div class="card">
                        <img src="../images/historical_events/parakram.jpg" alt="cardbg" class="cardimg">
                        <h1>Operation Parakaram</h1>
                        <p class="title">December, 2001</p>
                        <p class="about">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel itaque ab tempora unde ipsum fugiat, fuga, quam deleniti quas numquam sit maiores, nulla qui exercitationem doloremque est dignissimos esse voluptatum quo eveniet error laudantium architecto consequatur delectus. Dolorem placeat eaque non inventore, odit in omnis vitae iste animi itaque reprehenderit?
                            <a href="#" class="btn">Continue Reading</a>
                        </p>
                    </div>
        
                </div>
            </section>
            <!-- Edited By Aditya Pachore on 26-06-2021 -->
        </div>
        
        </div> 
        </div>
        <div style="margin-top:1500px;"></div>
        <!--<div class="last-space"></div>-->
    </main>
    <footer>
        <div class="container">
            <ul>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="sources.html">Sources</a></li>
                <li><a href="privacy_policy_page.html">Privacy Policy</a></li>
                <li><a href="contact_us.html">Contact Us</a></li>
            </ul>
        </div>
    </footer>
    <script>
        //get the modal
        var modal = document.getElementById("myModal");
        //get the image and insert it inside thmodal-use its "alt" text as a caption
        var img = document.getElementById("logo1");
        var modalImg = document.getElementById("img01");
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        //get the <span> element thet closes the modal
        var span = document.getElementsByClassName("close")[0];
        //when the user clicks on <span> (x), close thmodal
        span.onclick = function(){
            modal.style.display = "none";
        }
    </script>
</body>
</html>