<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Added by Abhishek 26-06-2021-->
    <link rel="stylesheet" type="text/css" href="../css/hof_army.css">
    <!-- Added by Abhishek 26-06-2021-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Hall of fame | Army</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="dropdown">
                <img id="logo1" src="../images/website logos/logo1.jpeg" alt="logo">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                </div>
            </div>
            <a href="main_page.html">
                <img id="logo2" src="../images/website logos/logo2.png" alt="nameplate">
            </a>
            <div class="right">
                <a href="https://www.indianarmy.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Army page" src="../images/logos/army.png" alt="Army logo">
                </a>
                <a href="http://www.indiannavy.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Navy page" src="../images/logos/navy.png" alt="Navy logo">
                </a>
                <a href="http://indianairforce.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Airforce force page" src="../images/logos/airforce.png" alt="Airforce logo">
                </a>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="main_page.html">HOME</a></li>
                <li><a href="newsfeed.html">NEWS FEED</a></li>
                <li><a href="exam_main_page.html">EXAMS</a></li>
                <li class="hof"><a href="">HALL OF FAME</a>
                    <div class="sub-menu-hof">
                        <ul>
                            <li><a href="hof_army.html">ARMY</a></li>
                            <li><a href="hof_navy.html">NAVY</a></li>
                            <li><a href="hof_airforce.html">AIRFORCE</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="he.html">HISTORICAL EVENTS</a></li>
                <li><a href="donation_page.html">DONATIONS</a></li>
                <div class="right">
                    <li class="bell"><a href="#">
                        <img src="../Images/bell.svg" style="vertical-align: middle;" alt="bell" width="20px"></a> 
                        <div class="sub-menu-bell">
                            <ul>
                                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a></li>
                            </ul>
                        </div>   
                    </li>
                    <li class="user"><a href="#">
                        <img src="../Images/user.svg" style="vertical-align: middle;" alt="user" width="20px"></a>
                        <div class="sub-menu-user">
                            <ul>
                                <li><a href="settings.html"><i class="far fa-user-circle"></i>Profile</a></li>
                                <li><a href="settings.html"><i class="fas fa-bookmark"></i>Bookmarks</a></li>
                                <li><a href="settings.html"><i class="fas fa-cog"></i>Settings</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <main>
        <div id="main_container">
            <!-- Added by Abhishek 26-06-2021-->
            <h2>Hall of fame | Army</h2>
            <div class="grid">

                <div class="box" id="box1">
                    <div class="center">
                       <img class="img" src="../images/Hall of fame images/Captain Vikram Batra.png" alt="Captain Vikram Batra">
                    </div>
                    <p>Captain Vikram Batra</p><br>
                    <div class="center">Born in Palampur, Himachal Pradesh, Captain Vikram Batra of 13 J&K Rifles, is known as the hero of the Kargil war. He led one of the toughest war operations in Kashmir, and was also called Sher Shah (in the intercepted messages of the Pakistani army).Captain Vikram Batra was an awardee of Param Vir Chakra posthumously.</div>
                </div>

                <div class="box" id="box2">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/Major General Ian Cardozo.png" alt="Major General Ian Cardozo">
                    </div>
                    <p>Major General Ian Cardozo</p><br>
                    <div class="center">He was born on 25 June, 1975 at Rudha village, Sitapur, Uttar Pradesh, India. He was a soldier of 1/11 Gorkha Rifles. Another brave soldier who had sacrificed his life for the country's pride. His team was tasked to clear the enemy troops, he carried out a series of attacks to push back the intruders.</div>
                </div>

                <div class="box" id="box3">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/Major Ramaswamy Parameswaran.png" alt="Major Ramaswamy Parameswaran">
                    </div>
                    <p>Major Ramaswamy Parameswaran</p><br>
                    <div class="center">Born in Mumbai, Maharashtra, Parameswaran is yet another braveheart who died at the age of 41 in 1987, in India’s Sri Lanka operations. He was awarded the Param Vir Chakra, posthumously.</div>
                </div>
                
                <div class="box" id="box4">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/Major Somnath Sharma.png" alt="Major Somnath Sharma">
                    </div>
                    <p>Major Somnath Sharma</p><br>
                    <div class="center">This brave soldier of Fourth Kumaon regiment sacrificed his life at the young age of 24. With his hand already in plaster from an injury sustained in a hockey game, Sharma insisted on being with his company in combat when they were airlifted to Srinagar on October 30, 1947 to fight Pakistani invaders.</div>
                </div>

                <div class="box" id="box5">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/Second Lieutenant Arun Khetarpal.png" alt="Second Lieutenant Arun Khetarpal">
                    </div>
                    <p>Second Lieutenant Arun Khetarpal</p><br>
                    <div class="center">Born in Pune, 2nd Lieutenant Arun Khetarpal of the 17 Poona Horse regiment is yet another braveheart who died too young at the age of 21. He died in the Battle of Basantar during the Indo-Pakistan War of 1971, where his brave actions earned him the Param Vir Chakra posthumously.</div>
                </div>

                <div class="box" id="box6">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/Brigadier Mohammad Usman.png" alt="Brigadier Mohammad Usman">
                    </div>
                    <p>Brigadier Mohammad Usman</p><br>
                    <div class="center">Born in Bibipur, Uttar Pradesh, this man of steel joined the Indian army in 1934. During the Indo-Pakistan war of 1947/48, Brigadier Usman repulsed a fierce attack on Naushera and Jhangar, two highly strategic locations in Jammu and Kashmir, and was named by his fellow soldiers ‘The Lion of Naushera.</div>
                </div>

            </div>
            <!-- Added by Abhishek 26-06-2021-->
        </div>
        <div style="margin-top: 1200px;"></div>
        <!-- <div class="last-space"></div> -->
    </main>
    <footer>
        <div class="container">
            <ul>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="sources.html">Sources</a></li>
                <li><a href="privacy_policy_page.html">Privacy Policy</a></li>
                <li><a href="contact_us.html">Contact Us</a></li>
            </ul>
        </div>
    </footer>
    <script>
        //get the modal
        var modal = document.getElementById("myModal");
        //get the image and insert it inside thmodal-use its "alt" text as a caption
        var img = document.getElementById("logo1");
        var modalImg = document.getElementById("img01");
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        //get the <span> element thet closes the modal
        var span = document.getElementsByClassName("close")[0];
        //when the user clicks on <span> (x), close thmodal
        span.onclick = function(){
            modal.style.display = "none";
        }
    </script>
</body>
</html>