<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Added by Abhishek -->
    <link rel="stylesheet" type="text/css" href="../css/hof_airforce.css">
    <!-- Added by Abhishek -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Hall of fame | Airforce</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="dropdown">
                <img id="logo1" src="../images/website logos/logo1.jpeg" alt="logo">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                </div>
            </div>
            <a href="main_page.html">
                <img id="logo2" src="../images/website logos/logo2.png" alt="nameplate">
            </a>
            <div class="right">
                <a href="https://www.indianarmy.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Army page" src="../images/logos/army.png" alt="Army logo">
                </a>
                <a href="http://www.indiannavy.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Navy page" src="../images/logos/navy.png" alt="Navy logo">
                </a>
                <a href="http://indianairforce.nic.in/" target="_blank">
                    <img class="iaf-logos" title="Go to official Indian Airforce force page" src="../images/logos/airforce.png" alt="Airforce logo">
                </a>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="main_page.html">HOME</a></li>
                <li><a href="newsfeed.html">NEWS FEED</a></li>
                <li><a href="exam_main_page.html">EXAMS</a></li>
                <li class="hof"><a><HALL href="">HALL OF FAME</a>
                    <div class="sub-menu-hof">
                        <ul>
                            <li><a href="hof_army.html">ARMY</a></li>
                            <li><a href="hof_navy.html">NAVY</a></li>
                            <li><a href="hof_airforce.html">AIRFORCE</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="he.html">HISTORICAL EVENTS</a></li>
                <li><a href="donation_page.html">DONATIONS</a></li>
                <div class="right">
                    <li class="bell"><a href="#">
                        <img src="../Images/bell.svg" style="vertical-align: middle;" alt="bell" width="20px"></a> 
                        <div class="sub-menu-bell">
                            <ul>
                                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a></li>
                            </ul>
                        </div>   
                    </li>
                    <li class="user"><a href="#">
                        <img src="../Images/user.svg" style="vertical-align: middle;" alt="user" width="20px"></a>
                        <div class="sub-menu-user">
                            <ul>
                                <li><a href="settings.html"><i class="far fa-user-circle"></i>Profile</a></li>
                                <li><a href="settings.html"><i class="fas fa-bookmark"></i>Bookmarks</a></li>
                                <li><a href="settings.html"><i class="fas fa-cog"></i>Settings</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <main>
        <div id="main_container">
            <!-- Added by Abhishek -->
            <h2>Hall of fame | Airforce</h2>
            <div class="grid">

                <div class="box" id="box1">
                    <div class="center">
                       <img class="img" src="../images/Hall of fame images/IAF Argan Singh.jpeg" alt="IAF Argan Singh">
                    </div>
                    <p>IAF Argan Singh</p><br>
                    <div class="center">Leader in 1944, Arjan Singh led the squadron against the Japanese during the Arakan Campaign. flying close support during the crucial Imphal Campaign and later assisting the advance of the allied forces to Rangoon, Burma. For his role in successfully leading the squadron in combat, Arjan Singh received the Distinguished Flying Cross (DFC) in 1944. He was given command of the IAF Display flight flying Hawker Hurricanes after the war which toured India giving demonstrations. On 15 August 1947, he had the unique honour of leading the fly-past of over a hundred IAF aircraft over Delhi, over the red fort.
                    </div>
                </div>

                <div class="box" id="box2">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/FG OFF Nirmal Jit Singh.jpeg" alt="FG OFF Nirmal Jit Singh">
                    </div>
                    <p>FG OFF Nirmal Jit Singh</p><br>
                    <div class="center">Flying Officer Nirmal Jit Singh Sekhon was a pilot of a Gnat detachment based at Srinagar for the Air Defence of the valley against Pakistani air attacks. From the very outbreak of the hostilities he and his colleagues fought the successive waves of intruding Pakistani aircraft with valour and determination, maintaining high reputation of the Gnat aircraft. 
                    </div>
                </div>

                <div class="box" id="box3">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/Air commodore Mehar Singh.jpg" alt="Air commodore Mehar Singh">
                    </div>
                    <p>Air commodore Mehar Singh</p><br>
                    <div class="center">Air Commodore Mehar Singh MVC DSO, affectionately called 'Baba' Mehar Singh by his associates and admirers in Indian Air Force, was a legendary pilot and a flying prodigy . His exploits with the flying machines are well known and much celebrated. He was a born leader of men and a team man who always led from the front. Mehar Singh was immensely successful in earning respect of men he commanded by his bravery , daring feats and brilliantleadership. He was a role model for the young fliers in the IAF.
                    </div>
                </div>
                
                <div class="box" id="box4">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/Sqdn Leader JM Nath.jpeg" alt="Sqdn Leader JM Nath">
                    </div>
                    <p>Sqdn Leader JM Nath</p><br>
                    <div class="center">During the recent operations against Pakistani, Squadron Leader Jag Mohan Nath, Commanding Officer of a Canberra unit, undertook several missions over enemy territory and obtained vital information about the enemy. The missions, which were all in the nature of reconnaissance, entailed flying long distances over ememy territory and well defended airfields and installations, unescorted and during the day. Although Squadron Leader Nath was fully aware of the risks he was running on every one of the missions, he chose to undertake them himself instead of detaiing his Sqadron pilots, until he was ordered to let his colleagues do some of them.
                    </div>
                </div>

                <div class="box" id="box5">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/SQDN Leader P Gautam.jpeg" alt="SQDN Leader P Gautam">
                    </div>
                    <p>Sqdn Leader P Gautam</p><br>
                    <div class="center">Squadron Leader Padmanabha Gautam, Commanding Officer of Bomber Conversion Training Unit, skillfully adapted his Unit to its operational role at short notice and led it in a number of difficult and dangerous missions. He undertook six important offensive and tactical close support operations over Pakistan territory during the period from the 6th to the 21st September, 1965..</div>
                </div>

                <div class="box" id="box6">
                    <div class="center">
                        <img class="img" src="../images/Hall of fame images/WG CDR PP Singh.jpeg" alt="WG CDR PP Singh">
                    </div>
                    <p>WG CDR PP Singh</p><br>
                    <div class="center">Wing Commander Prem Pal Singh was Commanding Officer of an Operational Bomber Squadron which achieved a high pitch of operational preparedness with a short time. During the period from the 6th to 9th September 1965, he undertook six major offensive and tactical close support operations which included reconnaissance over the Sargodha airfield complex, Dab, Akwal and Marud airfields, marking of Peshawar airfield and bombing of Pakistani troop and armour concentrations in the various sectors. 
                    </div>
                </div>

            </div>
            <!-- Added by Abhishek -->
        </div>
        <div style="margin-top: 1400px;"></div>
        <!--<div class="last-space"></div>-->
    </main>
    <footer>
        <div class="container">
            <ul>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="sources.html">Sources</a></li>
                <li><a href="privacy_policy_page.html">Privacy Policy</a></li>
                <li><a href="contact_us.html">Contact Us</a></li>
            </ul>
        </div>
    </footer>
    <script>
        //get the modal
        var modal = document.getElementById("myModal");
        //get the image and insert it inside thmodal-use its "alt" text as a caption
        var img = document.getElementById("logo1");
        var modalImg = document.getElementById("img01");
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        //get the <span> element thet closes the modal
        var span = document.getElementsByClassName("close")[0];
        //when the user clicks on <span> (x), close thmodal
        span.onclick = function(){
            modal.style.display = "none";
        }
    </script>
</body>
</html>